.container {
  width: 80%;
  margin: 0 auto; // floating in the center

}

.left-content, .right-content {
  display: inline-block;
  vertical-align: top;

}

.right-content{
  padding-top: 20px;
  text-align:center;
}


.left-content {
  width: 65%;

}

.right-content {
  width: 30%;
}

.left-divs{
  width:45%;
  padding: 15px;
  float:left;
}

body{
  background-color: AntiqueWhite
}

#addIt{
  margin: 0 auto;
}
